@import "tailwindcss";

:root {
  --primary: #FF9900;
  --background: #1a1a1a;
  --surface: #2d2d2d;
  --text: #f5f5f5;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text: var(--text);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}